.bottone{
    height: 100px;
    color: white;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    /*  */
    /* padding: 15px 32px; */
    border: none;
    text-decoration: none;
    font-size: 30px;
    width: 300px;
    padding: 5px;
}