.rettangolo{
    position: absolute;
    color: white;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 15px;
    border: 1px solid black;
    margin-top: 1%;
    margin-left: 35%;
}